<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Address</th>
        <th>Email</th>
        <!-- 기타 사용자 정보 필드 추가 -->
    </tr>
    <!-- 사용자 목록을 반복하여 표시 -->
    <th:block th:each="user : ${userList}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>
