<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board List</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>
<table>
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>재고</th>
        <th>가격</th>
        <th>작성자</th>
        <th>사진</th>
    </tr>

    <th:block th:each="book : ${bookList}">
        <tr>
            <td th:text="${book.book_id}"></td>
            <td><a th:href="@{'/board/post/' + ${book.book_id}}"><span th:text="${book.book_name}"></span></a></td>
            <td th:text="${book.stock}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.id}"></td>
            <td>
                <img th:src="@{/board/post/{photo}(photo=${book.photo})}" alt="Book Photo">
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>
