<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js"></script>
    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }

        .content-cell {
            word-wrap: break-word;
        }

        #header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

        .container {
            margin-top: 150px;
        }
    </style>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<div class="container" style="width: 60%;">
    <div style="margin: 100px"></div>
    <table>
        <tr>
            <td colspan="2"><h2 th:text="${bookDto.book_name}"></h2></td>
        </tr>

        <tr>
            <td colspan="2" style="color: #7D7D7D"><span th:inline="text">작성일 : [[${#temporals.format(bookDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</span></td>
        </tr>
        <tr>
            <td colspan="2" style="color: #7D7D7D;">작성자 : <span th:text="${bookDto.id}"></span></td>
        </tr>

        <tr>
            <td colspan="2" style="height: 30px"></td>
        </tr>

        <tr>
            <td colspan="2" class="content-cell"><span th:text="${bookDto.book_intro}"></span></td>
        </tr>

        <tr>
            <td colspan="2" style="height: 30px"></td>
        </tr>
    </table>
</div>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>